/* style.css */

body {
    background-color: #00576f;
    margin: 0;
    padding: 0;
    font-family: Helvetica;
}
ul {
    display: block;
    list-style-type: none;
    padding-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

input[type="file"] {
    display: None;
}

label {
    display: inline;
    background-color: white;
    text-align: center;
    color: #28afd8;
    border: 5px solid #28afd8;
    border-radius: 5px;
    padding: 6px;
    margin-bottom: 10px;
    width: 680px;
    vertical-align: middle;
}

.container {
    max-width: 700px;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.logo {
    font: Helvetica;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #28afd8;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

input {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    width: 680px;
    vertical-align: middle;
}

.button {
    background-color: #28afd8;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    cursor: pointer;
}

.messageArea {
    margin-top: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    height: 300px;
    overflow-y: scroll;
}

.message {
    margin-bottom: 5px;
}

.username {
    font-weight: bold;
    color: #008000;
}